@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body {
    background-color: #358597;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    color: #fff;
    margin: 1rem;
}

.movie img {
    max-width: 100%;
}

.movie-info {
    background-color: #358597;
    color: #f4a896;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #246473;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}